# -*- coding: utf-8 -*-

POSTGRESQL = {
    'host': '...',
    'port': '...',
    'user': '...',
    'password': '...',
    'database': '...',
}

PROXIES = {
    'http': '...',
    'https': '...',
}

PYRES = ...

SENTRY = '...'

SERVER_HOST = '...'
SERVER_PORT = ...
